page-help {
    img{
        width: 150px !important;
        height: 150px !important;
    }

}

.help-icon{
    font-size: 200px;

}

#logoAbout{
    background-repeat:no-repeat;
    background-size:cover;
    width:60%;
}
